[submodule "Libraries/random"]
	path = Libraries/random
	url = https://github.com/effolkronium/random
[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest.git
